SQLAlchemy~=2.0.27
aiogram~=3.4.1
pydantic~=2.5.3
pydantic-settings~=2.2.1
alembic~=1.13.1
python-dotenv~=1.0.1
psycopg~=3.1.18
psycopg-binary~=3.1.18
requests~=2.31.0
beautifulsoup4~=4.12.3
APScheduler~=3.10.4
fake-useragent~=1.5.1
pandas~=2.2.2
scikit-learn~=1.4.1.post1